/* About */
/* Section 1 - profile image, info */
.profileTitle {
    grid-column: 1 / 3;
    font-size: 2rem;
}

.profile {
    height: calc(100vh - $HEADER_HEIGHT);
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
}

.profileImage {
    object-fit: contain;
}

.profileInfo {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 3fr;
    row-gap: 1.5rem;
    column-gap: 3rem;
    padding: 2rem;
}

/* Main */
/* Section 2 - skills */
.skillsTitle {
    grid-column: 1 / 5;
    font-size: 2rem;
}

.skills {
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10rem;
}

.skillLayout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 1024px) {
    .profileTitle {
        grid-column: 1 / 2;
    }

    .profile {
        grid-template-columns: 1fr;
        height: auto;
    }

    .profileInfo {
        grid-template-columns: 1fr 1fr;
    }

    .skillsTitle {
        grid-column: 1 / 3;
    }

    .skills {
        grid-template-columns: 1fr 1fr;
        height: auto;
        padding: 2rem;
    }
}

@media (max-width: 700px) {
    .profile {
        padding: 5rem 2rem;
    }
}

@media (max-width: 600px) {
    .profile {
        padding: 1rem;
    }

    .profileInfo {
        grid-template-columns: 1fr;
    }

    .profileInfo > div > h2 {
        font-size: 1.1rem;
    }
    .profileInfo > div > p {
        font-size: 1rem;
    }

    .profileInfo > div > h2,
    .profileInfo > div > p {
        margin: 0.5rem;
    }

    .skills {
        padding: 1rem;
    }
}

@media (max-width: 400px) {
    .profile {
        padding: 0.5rem;
    }

    .profileInfo {
        padding: 0.5rem;
    }

    .skills {
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }
    .skillsTitle {
        grid-column: 1 / 1;
    }
}
