.activity {
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

.activityTitle {
    margin: 26.56px auto;
    font-size: 2rem;
}

.activityItem {
    @include view(grid, center, center);
    grid-template-columns: 1fr 2fr;
    padding: 2rem 3rem;
    margin-bottom: 3rem;
    box-shadow: 10px 10px 20px 3px var(--ACTIVITY_ITEM_SHADOW);
    border-radius: 1rem;
    transition: box-shadow 0.5s ease-in-out;
}

.activityImage {
    object-fit: contain;
    cursor: pointer;
}

.activityInfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

@media (max-width: 1024px) {
    .activityTitle {
        grid-column: 1 / 2;
    }

    .activityItem {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {
    .activityItem {
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    .activity {
        padding: 1rem;
    }
}

@media (max-width: 400px) {
    .activityInfo {
        gap: 1rem;
    }

    .activityInfo > h2 {
        font-size: 1rem;
    }

    .activityInfo > div {
        font-size: 0.8rem;
    }
}
