.site {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.siteCode {
    width: 80vw;
}

.siteTreeList {
    padding: 1rem;
}

.siteTreeList ul > * {
    list-style: none;
    padding: 10px;
}

.siteTreeList ul li:hover {
    background-color: var(--UL_LI_BACKGROUND_COLOR);
}

.siteTreeList ul li ul li:hover {
    background-color: var(--UL_LI_UL_LI_BACKGROUND_COLOR);
}

.siteTreeList ul li ul li ul li:hover {
    background-color: var(--UL_LI_UL_LI_UL_LI_BACKGROUND_COLOR);
}

.siteTreeCode {
    display: flex;
    width: 80vw;
    gap: 1rem;
}

.siteTreeCode > textarea {
    resize: none;
    background-color: var(--TEXTAREA_BACKGROUND_COLOR);
    transition: color 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

.siteGithub {
    min-width: 12.5rem;
    width: 80vw;
    height: 4rem;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid $HOVER_COLOR;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, transparent 30%, $HOVER_COLOR 80%);
    background-size: 400% 100%;
    background-position: 0% 100%;
    transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
    margin: 2rem 0;
}

.siteGithub:hover {
    animation: bubblepop 0.3s ease-in-out;
    background-position: 100% 100%;
    color: white;
}

.commit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    > * {
        margin: 1rem 0;
    }
}

@media (max-width: 600px) {
    .site {
        max-width: 80vw;
        min-width: 15rem;
        padding: 2rem;
    }
}

@media (max-width: 300px) {
    .siteGithub {
        font-size: 1.5rem;
    }
}

@keyframes bubblepop {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
