/* Footer */
.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid $BORDER_COLOR;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-width: 13rem;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    height: 1em;
    filter: invert(50%);
}

@media (max-width: 400px) {
    .footer {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .footer {
        border-color: #222;
    }
    .logo img {
        filter: invert(1);
    }
}
