.modalBody {
    padding: 1rem 0;
    font-size: 1rem;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.modalHeader > h3 {
    margin: 0;
}

.modalClose {
    font-size: 2rem;
    color: black;
    transition: rotate 0.5s ease-in-out;
    rotate: 0deg;
    border: 1px solid transparent;
    border-radius: 10px;
}

.modalClose:hover,
.modalClose:focus,
.modalClose:active {
    rotate: 360deg;
}

.modalClose:focus,
.modalClose:active {
    border: 1px solid $HOVER_COLOR;
}

.modalHead {
    background-color: darkgray;
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem 2rem 0 2rem;
}

.modalContent {
    padding: 1rem;
}

.modal {
    background-color: white;
    border-radius: 15px;
    font-size: 1.5rem;
    box-shadow: 10px 10px 20px 0px #565656;
}

.modal > * {
    color: black;
}

.modalOverlay {
    position: fixed;
    top: 4.4rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

.modalImage {
    width: 60vw !important;
    height: 50vh !important;
}

.modalShow {
    opacity: 1 !important;
    z-index: 999 !important;
}
