.modalBody {
    padding-top: 1rem;
    font-size: 1rem;
}

.modalDesc {
    font-size: 0.8rem;
    padding-bottom: 1rem;
}

.modalHeader {
    @include view(flex, normal, space-between);
    font-size: 25px;
}

.modalHeader > h3 {
    margin: 0;
}

.modalClose {
    @include border-radius(1px solid transparent, 10px);
    font-size: 2rem;
    color: black;
    transition: rotate 0.5s ease-in-out;
    rotate: 0deg;
}

.modalClose:hover,
.modalClose:focus,
.modalClose:active {
    rotate: 360deg;
}

.modalClose:focus,
.modalClose:active {
    border: 1px solid $HOVER_COLOR;
}

.modalHead {
    background-color: #eaeaea;
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem 2rem 0 2rem;
}

.modalContent {
    @include view(flex, center, center);
    padding: 1rem;
    max-width: 60vw;
    margin: auto;
}

.modal {
    background-color: white;
    border-radius: 15px;
    font-size: 1.5rem;
    box-shadow: 10px 10px 20px 0px #565656;
}

.modal > * {
    color: black;
}

.modalOverlay {
    @include view(flex, center, center);
    @include area(100vw, calc(var(--vh, 100vh)));
    position: fixed;
    top: $HEADER_HEIGHT;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

.modalImage {
    object-fit: contain;
    cursor: pointer;
}

.modalCarousel {
    cursor: pointer;
}

.modalShow {
    opacity: 1 !important;
    z-index: 999 !important;
}

@media (max-width: 600px) or (max-height: 600px) {
    .modalHeader {
        font-size: 1.2rem;
    }
    .modalBody {
        font-size: 0.8rem;
    }
}

@media (max-width: 300px) or (max-height: 300px) {
    .modalHeader {
        font-size: 1rem;
    }
    .modalHead {
        padding: 1.5rem 1rem 0 1rem;
    }
}

:export {
    headerHeight: $HEADER_HEIGHT;
}
