$HOVER_COLOR: #0070f3;
$BORDER_COLOR: #eaeaea;
$HOVER_BORDER_WIDTH: 4px;

html.dark {
    --DARKMODE_SWITCH_COLOR: 210 20% 98%;
    --HTML_COLOR_SCHEME: dark;
    --BODY_COLOR: white;
    --BODY_BACKGROUND: black;
    --TEXT_COLOR: #eeeeee;
    --NAV_BACKGROUND: #20232a;
    --NAV_CLOSE_BUTTON: white;
    --HR_COLOR: #4a4a4a;
    --CARD_IMAGE_BRIGHTNESS: 0.8;
    --CARD_IMAGE_BRIGHTNESS_HOVER: 0.6;
    --MAIN_BACKGROUND_COLOR: #474544;
    --IMAGE_LOADING_COLOR: white;
}

html.light {
    --DARKMODE_SWITCH_COLOR: 215 28% 17%;
    --HTML_COLOR_SCHEME: light;
    --BODY_COLOR: black;
    --BODY_BACKGROUND: white;
    --TEXT_COLOR: #2a2a2a;
    --NAV_BACKGROUND: #e0e0e0;
    --NAV_CLOSE_BUTTON: black;
    --HR_COLOR: #c0c0c0;
    --CARD_IMAGE_BRIGHTNESS: 0.95;
    --CARD_IMAGE_BRIGHTNESS_HOVER: 0.75;
    --MAIN_BACKGROUND_COLOR: #d3cafa;
    --IMAGE_LOADING_COLOR: black;
}
