html {
    color-scheme: var(--HTML_COLOR_SCHEME);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-y: hidden;
}

body {
    color: var(--BODY_COLOR);
    background: var(--BODY_BACKGROUND);
}

#root {
    overflow-y: scroll;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    transition: transform 0.5s;
    left: -300px;
    top: 0;
    width: 100vw;
    min-width: 100px;
    max-width: 300px;
    background: var(--NAV_BACKGROUND);
    z-index: 999;
}

nav.active {
    transform: translate3d(0, 0, 0);
}

#navClose {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
}

#navClose > button {
    cursor: pointer;
}

#navClose > button > svg {
    fill: var(--NAV_CLOSE_BUTTON);
    stroke: var(--NAV_CLOSE_BUTTON);
}

#navList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#navFooter {
    display: flex;
    align-items: center;
}

#navDarkModeButton {
    cursor: pointer;
}

#navMaker {
    padding: 1rem 1.5rem;
}

#navMakerNickname {
    color: $HOVER_COLOR;
}

hr {
    border: 1px solid var(--HR_COLOR);
    width: 100%;
}

#navList > a {
    padding: 0.5rem 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    background-color: transparent;
    border-width: 0;
    display: flex;
}

button:focus-visible {
    outline: none;
}

@media (max-width: 600px) {
    nav.active {
        transform: translate3d(300px, 0, 0);
    }
}
