.main {
    min-height: 100vh;
    padding: 4.4rem 2rem 4rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 15rem;
}

.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.main section {
    width: 100%;
}

.titleSubArrow {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transform: translateY(0);
}

.titleSub,
.downArrow {
    opacity: 0;
    transform: translateY(-25%);
    transition: all 2s ease;
}

.downArrow {
    display: flex;
    justify-content: center;
}

.downArrow button {
    border-radius: 50%;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downArrow button svg {
    transition: stroke 0.15s ease;
    cursor: pointer;
}

.downArrow button svg:hover,
.downArrow button svg:focus,
.downArrow button svg:active {
    stroke: $HOVER_COLOR;
    outline: none;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid $BORDER_COLOR;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: $HOVER_COLOR;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.grid {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 0;
}

.card {
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid $BORDER_COLOR;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover,
.card:focus,
.card:active,
.header a:focus,
.header a:hover,
.header a:active {
    color: $HOVER_COLOR;
    border-color: $HOVER_COLOR;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
    filter: invert(50%);
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
    box-shadow: 0 4px 15px -8px gray;
    position: absolute;
    width: 100%;
    min-width: 15rem;
    font-size: 1rem;
}

.header * {
    outline: none;
}

.header a {
    transition: color 0.15s ease, border-color 0.15s ease;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.menudarkmode {
    display: none;
}

.menu {
    cursor: pointer;
}

.menu > svg {
    fill: var(--TEXT_COLOR);
}

.headerList {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.headerRouters,
.headerAdmin {
    display: flex;
    align-items: center;
}

.headerDarkmodeSwitch {
    margin-right: 1rem;
    cursor: pointer;
    display: inline-grid;
    width: 1.75rem;
    height: 1.75rem;
}

.headerDarkmodeSwitch > * {
    width: 1.75rem;
    height: 1.75rem;
    grid-row-start: 1;
    grid-column-start: 1;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    transition-property: all;
}

.headerDarkmodeCheckbox {
    appearance: none;
}

.headerDarkmodeSwitch > svg {
    fill: hsl(var(--DARKMODE_SWITCH_COLOR) / 1);
}

.turnOffSun {
    opacity: 0;
    transform: translate(0) rotate(-45deg) skew(0) skewY(0) scaleX(1) scaleY(1);
}

.turnOnSun {
    opacity: 1;
    transform: translate(0) rotate(0deg) skew(0) skewY(0) scaleX(1) scaleY(1);
}

.turnOffMoon {
    opacity: 0;
    transform: translate(0) rotate(45deg) skew(0) skewY(0) scaleX(1) scaleY(1);
}

.turnOnMoon {
    opacity: 1;
    transform: translate(0) rotate(0deg) skew(0) skewY(0) scaleX(1) scaleY(1);
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .header {
        gap: 0;
        font-size: 0.8rem;
    }

    .title {
        font-size: 2.7rem;
    }
}

@media (max-width: 600px) {
    .header {
        justify-content: flex-start;
    }

    .headerList {
        display: none;
    }

    .menudarkmode {
        display: flex;
    }
}

@media (max-width: 600px) and (max-height: 600px) {
    .title {
        font-size: 2.7rem;
    }
}

@media (max-width: 300px) or (max-height: 600px) {
    .title {
        font-size: 2rem;
    }
    .description {
        margin: 2.5rem 0;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .logo img {
        filter: invert(1);
    }
}
