.main {
    min-height: 100vh;
    padding: 4.4rem 2rem 4rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20rem;
}

.main section {
    width: 100%;
}

.titleSub {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.downArrow {
    display: flex;
    justify-content: center;
}

.downArrow button {
    border-radius: 50%;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downArrow button svg {
    transition: stroke 0.15s ease;
    cursor: pointer;
}

.downArrow button svg:hover,
.downArrow button svg:focus,
.downArrow button svg:active {
    stroke: $HOVER_COLOR;
    outline: none;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: $HOVER_COLOR;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.grid {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 0;
}

.card {
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover,
.card:focus,
.card:active,
.header a:focus,
.header a:hover,
.header a:active {
    color: $HOVER_COLOR;
    border-color: $HOVER_COLOR;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
    box-shadow: 0 4px 15px -8px gray;
    position: absolute;
    width: 100%;
    min-width: 20rem;
}

.header * {
    outline: none;
}

.header a {
    transition: color 0.15s ease, border-color 0.15s ease;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .header {
        gap: 0;
    }

    .title {
        font-size: 2.7rem;
    }
}

@media (max-height: 600px) {
    .title {
        font-size: 2.7rem;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .logo img {
        filter: invert(1);
    }
}
